/*
* COLOR
*/
$container: 1366px;

$green: #07a20e;
$green-34: #348a30;

$gray-67: #676767;
$gray-32: #323133;
$gray-4b: #4b4b4b;
$gray-e8: #e8e8e8;
$gray-f5: #f5f5f5;
$gray-de: #dedede;
$gray-ed: #ededed;

$color-primary: $green;
$color: $gray-67;
$color-link: $color-primary;
$bg-footer: $green-34;

$lato: 'Lato', sans-serif;
$opensans: 'Open Sans', sans-serif;
$times: times, serif;


@import "libs/normalize";
@import "libs/mixins";
@import "libs/print";

/*
* STYLE SHEET
*/

/* --- Layout --- */
*, 
*:after, 
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row:before, 
.row:after {
  content: '';
  display: table;
}

.element-invisible {
  @include element-invisible();
}

.row:after {
  clear: both;
}

.row {
  margin: 0 auto;
  max-width: $container;
  padding: 0 8px;
}

.block {
  margin-bottom: 10px;
}

/* Main */
#content {
  background: url('../images-template/home-main-bg.png') no-repeat scroll 63% center transparent;
  background-size: cover;
  background-position: center\9;
  -ms-behavior: url(backgroundsize.min.htc);
  behavior: url(css/backgroundsize.min.htc);
  position: relative\9;
  z-index: 0\9;
  zoom:1;
}

/* Footer */
#footer-wrapper {
  background-color: $bg-footer;
  padding: 35px 0;
}

/* --- Normlize --- */
html {
  font-family: $lato;
}

html, body {
  height: auto;
  min-height: 100%;
}

body {
  color: $color;
  cursor: inherit;
  font-family: $lato;
  font-size: 14px;
  font-size: 1em;
  line-height: 1.5em;
  line-height: 21px;
}

.region-footer {
  color: #fff;
}

input[type*="text"],
.text-input {
  background-color: $gray-f5;
  border-radius: 3px;
  border: 1px solid $gray-e8;
  font-size: 13px;
  outline: none !important;
  padding: 11px 12px;
  behavior: url(css/pie.htc);
  position: relative;
  zoom: 1;
}

blockquote {
  font-family: $times;
  text-align: center;
  font-style: italic;
  font-size: 21px;

  &:before,
  &:after {
    display: inline-block;
  }

  &:before {
    content: "\201C";
  }

  &:after {
    content: "\201D";
  }
}

/* --- Custom --- */

/* Header */

// Logo
.logo-header {
  float: left;
}

.header__logo {
  display: block;
  padding: 32px 0 22px 0;
}

// Block Header
.region-header {
  text-align: right;
}

.block-banner-header {
  display: inline-block;
  line-height: 0;
  margin-bottom: 0;
  vertical-align: bottom;
}

// Navigation
.navigation {
  display: inline-block;
  margin-right: 78px;
  padding-bottom: 25px;
  vertical-align: bottom;

  .menu {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline;
      list-style: none;
      padding: 0 16px;

      a {
        color: $color;
        font-family: $opensans;
        font-size: 20px;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
          color: $color-link;
        }
      }
    }
  }
}

/* Main */
.block-login {
  margin-bottom: 40px;
  margin-left: 144px;
  margin-top: 106px;
  max-width: 300px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: url("../images/parten-o-white.png");
  behavior: url(css/PIE.htc);
  position: relative;
  zoom: 1;

  /* &:before {
    background-color: #fff;
    border-radius: 5px;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.6;
    filter: alpha(opacity=60);
    position: absolute;
    right: 0;
    top: 0;
    width: 100%\9;
    height: 100%\9;
  } */

  .block-title,
  .block-content {
    position: relative;
  }

  .block-title {
    border-bottom: 1px solid #fff;
    color: $gray-32;
    font-size: 14px;
    margin: 0;
    padding: 10px;
    padding: 24px 10px;
    text-align: center;
    text-transform: uppercase;
  }

  .form-login {
    padding: 30px;

    .form-item {
      margin: 19px 0;

      .text-input {
        width: 100%;
      }
    }

    .username {
      margin-top: 0;
    }

    .rememberForgot {
      label {
        color: $gray-4b;
        -webkit-border-radius: 100px/9;
        -moz-border-radius: 100px/9;
        border-radius: 100px/9;
        cursor: pointer;
        display: inline-block;
        font-size: 13px;
        position: relative;
        behavior: url(css/PIE.htc);
        zoom: 1;

        &:before {
          background-color: $gray-ed;
          -webkit-border-radius: 100px;
          -moz-border-radius: 100px;
          border-radius: 100px;
          border: 1px solid $gray-de;
          bottom: 2px;
          content: "";
          display: inline-block;
          height: 20px;
          margin-right: 10px;
          position: relative;
          width: 20px;
          vertical-align: middle;
          behavior: url(css/PIE.htc);
        position: relative;
          zoom: 1;
        }
      }

      input[type*="checkbox"] {
        display: none;

        &:checked + label:before {
          color: $color;
          content: "\2713";
          font-size: 15px;
          line-height: 15px;
          text-align: center;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
        }
      }
    }
    
    .form-active {
      margin-top: 27px;
      text-align: center;

      .btn {
        background-color: $color-primary;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        border: none;
        color: #fff;
        font-size: 11px;
        font-weight: 700;
        padding: 15px 42px 13px;
        text-transform: uppercase;
        behavior: url(css/PIE.htc);
        position: relative;
        zoom: 1;
      }
    }
  }
}

.quote-large {
  margin-bottom: 110px;

  blockquote {
    color: #fff;
    font-family: $times;
    font-size: 70px;
    line-height: 71px;
    margin: 0 137px 0 0;
    font-weight: bold;
    font-style: italic;

    &:before,
    &:after {
      font-size: 63px;
    }
  }
}

/* Footer */
.region-footer {
  .quote-normal {
    margin-bottom: 0;
    overflow: hidden;

    .quote-item {
      float: left;
      margin-bottom: 140px;
      max-width: 50%;
      padding: 0 10px;
      padding: 0\9;
      text-align: center;

      cite {
        font-family: $opensans;
        font-size: 18px;
        font-style: normal;
      }
    }
  }
}









